<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="logPath" source="logging.path" defaultValue=""/>
	<jmxConfigurator />
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
   <!--  <property name="logPath" value="./logs" /> -->
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg  %n</pattern>
        </encoder>
    </appender>
    <!--INFO输出 -->
    <appender name="FILE-INFO"  class="ch.qos.logback.core.rolling.RollingFileAppender">
         <File>${logPath}/${springAppName}/log-info/log-info.log</File>
        <!--日志策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/log-info/info.log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <!--日志输出格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        <!--根据日志级别过滤-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
    </appender>
    
    <!--DEBUG输出 -->
    <appender name="FILE-DEBUG"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/${springAppName}/log-debug/log-debug.log</File>
        <!--日志策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/log-debug/debug.log.%d{yyyy-MM-dd}.log</FileNamePattern>
             <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!--日志格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>20MB</MaxFileSize>
        </triggeringPolicy>
        <!--根据日志级别过滤-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
    </appender>

    <!--ERROR输出 -->
    <appender name="FILE-ERROR"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/${springAppName}/log-error/log-error.log</File>
        <!--日志策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPath}/${springAppName}/log-error/error.log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <!--日志格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <!--根据日志级别过滤-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
    </appender>
    
    <appender name="mybatis"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logPath}/${springAppName}/mybatis/log-mybatis.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/${springAppName}/mybatis/log-mybatis.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} - %msg%n
			</pattern>
		</encoder>
	</appender>
    
    
    
    
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-INFO" />
		<appender-ref ref="FILE-DEBUG" />
        <appender-ref ref="FILE-ERROR" />
    </root>
    
    
    <logger name="org.mybatis">
		<level value="INFO" />
		<appender-ref ref="mybatis" />
	</logger>
    <logger name="java.sql">
		<level value="INFO" />
		<appender-ref ref="mybatis" />
	</logger>
	<logger name="com.loskatt.lession">
		<level value="INFO" />
		<appender-ref ref="FILE-DEBUG" />
	</logger>
	
</configuration>